.App {
  text-align: center;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

@media screen {
  
}


.App-link {
  color: #61dafb;
 transform: tr;
}
/* .long-info {
    
  } */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
